
/ChineseChess/obj/
/ChineseChess/bin/

*.vsidx
/ChineseChess/v17/
.vs/ChineseChess/v17/.suo
*.exe
*.pdb

packages
bin
obj
*.bak


.vs/ChineseChess/v17/.suo
.vs/ChineseChess/FileContentIndex/566b0237-e755-4e98-b94e-c270b3e7b999.vsidx
